  
<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/functions.js"></script>

</head>
<body ng-app="app">


	<div ng-controller="HelloWorldCtrl">
		<h2>{{message}}</h2>
		<label for="airport" class="text-secondary">Enter Origin Airport Name</label>       
            <input type="text" 
				name="airport" 
				id="airport" 
				ng-model="airport" 
				ng-keyup="cname(airport)" 
				placeholder="Search airport" 
				class="form-control" />  
            <ul class="list-group" ng-hide="hidethis">
               <li class="list-group-item" 
				ng-repeat="airport_info in allairports" 
				ng-click="fillInputBox(airport_info.airportDescription)">{{airport_info.airportDescription}}</li>
            </ul>
            <div> </div>
            <p id="pText" class="text-info">You Selected <strong>{{ airport }}</strong> Origin</p>
			
			
			
			
			
			
			<label for="destairport" class="text-secondary">Enter Destination Airport Name</label>       
            <input type="text" 
				name="destairport" 
				id="destairport" 
				ng-model="destairport" 
				ng-keyup="destcname(destairport)" 
				placeholder="Search destination airport" 
				class="form-control" />  
            <ul class="list-group" ng-hide="desthidethis">
               <li class="list-group-item" 
				ng-repeat="airport_info in destallairports" 
				ng-click="destfillInputBox(airport_info.airportDescription)">{{airport_info.airportDescription}}</li>
            </ul>
            <div> </div>
            <p id="pText" class="text-info">You Selected <strong>{{ destairport }}</strong> Destination</p>
	</div>


</body>
</html>